.main{
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    padding: 0.5%;
}

.mainRight{
    width: calc(100% - 320px);
    margin: 20px auto;
}

.spaceXsm{
    padding: 10px;
}

.spaceSm{
    padding: 20px;
}

.spaceM{
    padding: 30px;
}




