.main{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    padding: 0.5%;
}


.spaceXsm{
    padding: 10px;
}

.spaceSm{
    padding: 20px;
}

.spaceM{
    padding: 30px;
}




