.main{
    background-color: #d6d9d4;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    padding: 0.5%;
}

.menuButton,.mainToggle{
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 0;
    top: 0;
    left: 0;
    display: flex;
    position: relative;
    cursor: pointer;
}

.mainToggle{
    display: none;
}

.menuButton i{
    font-size: 1.4rem;
    color: #748D92;
}

.hidden {
    opacity: 0;
  }

.mainRight{
    width: 100%;
    margin: 20px 10px;
}

.content{
    background-color: transparent;
    height: 95%;
    padding: 0;
    margin: 0;
}

.spaceXsm{
    padding: 10px;
}

.spaceSm{
    padding: 20px;
}

.spaceM{
    padding: 30px;
}


@media (max-width: 1500px) {
    .mainRight{
        margin-left: 0;
    }
    .hidden{
        display: none;
    }

}


@media (max-width: 600px) {
    .menuButton{
       display: none;
    }

    .mainToggle{
        margin: 10px;
        padding: 0;
        top: 0;
        left: 0;
        display: flex;
        position: absolute;
        cursor: pointer;
        font-size: 1.0rem;
    color: #748D92;
    }

    .mainRight{
        margin-top: 35px;
    }
    .sideMenu{
    }
}