.main{
    background-color: #d6d9d4;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    padding: 0.5%;
}

.mainRight{
    width: calc(100% - 320px);
    margin: 20px auto;
}

.content{
    background-color: transparent;
    height: 95%;
    padding: 0;
    margin: 0;
}

.spaceXsm{
    padding: 10px;
}

.spaceSm{
    padding: 20px;
}

.spaceM{
    padding: 30px;
}




