.topbar{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    margin: auto;
}

.left{
    font-size: 1.6rem;
    color: #212a31;
}

.left i{
    margin-right: 15px;
}

