.btn{
    background-color: #d6d9d4;
    margin: 0 10px;
    height: 30px;
    padding: 0 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover{
    background-color: #124E66;
    color: #d6d9d4;
}

.btn.active{
    color: #d6d9d4;
    background-color: #124E66;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1500px) {
    .btn{
        font-size: 0.8rem;
        margin: auto 5px;
    }
}

@media (max-width: 1040px) {
    .btn{
        font-size: 0.6rem;
        margin: auto 5px;
        height: 20px;
        padding: 0 10px;
    }
}