.btn{
    background-color: #d6d9d4;
    margin: 0 10px;
    height: 30px;
    padding: 0 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50px;
}

.btn:hover{
    color: #124E66;
}

.btn.active{
    color: #124E66;
}