.btn{
    margin: 10px;
    height: 30px;
    width: 150px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: flex;
}

.btn > *{
   margin: auto 10px;
}

@media (max-width: 1500px) {
    .btn{
        width: 100px;
        font-size: 0.6rem;
        padding: 0 5px;
    }
    .btn > *{
        margin: auto 5px;
     }
     .btn i{
        font-size: 0.8rem;
     }
     
}